html{
    
}

#container {
    text-align: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
}

#image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* This splits the container into three equal columns */
    grid-column-gap: 16px;  /* Adds some space between the gallery items */
}

.index-link {
    width: 100%;
    margin-bottom: 20px;
    float: right;
}

.index-link a.float-right {
    float: right;
}