html{
    
}

#container{
    
}

h1{
    text-align: center;
}

h3{
    font-weight: 500;
}

.ul-float-div {
    font-weight: 300;
    float: right;
    width: 45%;
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
}

.ol-float-div {
    font-weight: 300;
    float: left;
    width: 45%;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.full-width-div {
    width: 100%;
    margin-top: 100%;
    margin-bottom: 20px;
}

.full-width-div a.float-right {
    float: right;
}
